@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(204, 250, 235);
}

/*startsidan*/
.head{
    width:100%;
    margin: auto;
}

.navbar{
    margin: 5px;
    display: flex;
    align-items: center;
}

.li{
    flex: 1;
    text-align: right;
    margin-right: 95px;
}

.link{
    padding: 0 40px;
    font-size: 1.15rem;
    font-family: 'Special Elite', cursive;
    color:  rgb(8, 104, 72);
}
/*Our animals*/
.h1{
    margin: 10px;
    font-family: 'Rubik Vinyl', cursive;
    color: rgb(13, 120, 84);
    font-size: 3.5rem;
}


.poster{
    display: flex;
    margin: 10px 20px 0 10px;
}



.left-column, .right-column{
    flex-basis: 50%;
    padding-right: 40px;
}

.right-column img{
    width: 100%;
    height: 60%;
}

.left-column{
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
}

h2, h3{
    font-family: 'Amatic SC', cursive;
    margin-left: 50px;
}

h2{
    font-weight: bolder;
    color:  rgb(80, 206, 164);
    font-size: 4rem;
}

h3{
    font-size: 2rem;
    color:  rgb(104, 210, 175);;
}

/*öppettider box*/
.opening-hours{
    background:  rgb(9, 63, 45);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-left: 50px;
    padding: 5px;
}

summary{
    background-color:  rgb(9, 63, 45);
    color: aliceblue;
}

.time{
    background-color:  rgb(9, 63, 45);
    color: aliceblue;
    font-size: 1rem;
    
}

/*menu*/

.turtleinmenu{
    margin-left: 40px;
}

.head_meny{
    margin-top: 30px;
}

.wrapper{
    width: 1200px;
    margin: 50px auto;
}

.title{
    text-align: center;
    margin-left: 400px;    
    color:darkgreen;
}

.title h4{
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
}


.title h4 span{
    display: block;
    font-size: 18px;
    font-style: italic;
    color: rgb(66, 225, 159);
}

h4{
    color:darkgreen;
}


.title h4::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: rgb(9, 103, 9);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food{
    flex-basis: 580px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(80, 4, 4);
}

.food:nth-child(5), .food:nth-child(6){
    border-bottom: 0;
}

.food{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.food img{
    max-width: 180px;
    margin-right: 30px;
    border-radius: 50%;
    border: 1px solid rgb(8, 83, 48);
    padding: 3px
}

.food h4{
    text-transform: capitalize;
    font-size: 22px;
    border-bottom: 1px dashed rgb(58, 5, 5);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.food h4 span{
    float: right;
    color: rgb(8, 50, 21);
    font-style: italic;
}

/*about us*/

.header{
    display: inline-block;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0,4s;
    box-sizing: border-box;
}

.teams:hover{
    background-color: darkcyan;
    border-radius: 12px;
}

.teams img{
    widows: 200px;
    height: 200px;
}

.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.job{
    font-style: italic;
}

.about{
    margin: 20px 0;
    font-weight: lighter;
}